[include]
    path = .gitconfig_user

[user]
    useConfigOnly = true

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
    decorate = auto
    interactive = true

[alias]
    hist = log --oneline --graph --decorate --all

[log]
    decorate = full

[core]
    editor = vi

[push]
    default = simple

[diff]
    compactionHeuristic = true
    noprefix = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true

[rebase]
    instructionFormat=%s (%an <%ae>)

[tag]
    sort = version:refname
